nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #800020;
	display: table;
	width: 100%;
	height:250px;
}
nav li {
	display: table-cell
}
header{ font-weight: bold;
       font-color: #800020;
       
	
}

